.forecast{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-top: 5vh;
    .day-temp{
        display: flex;
        gap: .625rem;
        >*{
            margin: .125rem;
            padding: 0;
        }
    }
}
@media (min-width: 768px){
    .forecast{
        font-size: 1.3rem;
        margin-top: 5rem;
        .day-temp{
            display: flex;
            gap: .625rem;
            >*{
                margin: .125rem;
                padding: 0;
            }
        }
    }
}
@media (min-width: 1024px){
    .forecast{
        height: 35vh;
        margin-top: 2.5rem;
        flex-direction: row;
        gap: 1rem;
        >*:not(:first-child,:last-child){
            border-left: 1px solid black;
        }
        >*:last-child{
            border-left: 1px solid black;
        }
        .day-temp{
            flex-direction: column;
            p{
                margin-left: 1rem;
                text-align: center;
            }
            .hide-on-wide{
                opacity: 0;
            }
            .time-block{
                display: block;
                >*{
                    display: inline;
                }
            }
        }
    }
}